.well-holder {
  float: left;
}

table.well {
  border: 1px none auto;
  background-color: lightblue;
}

.well td {
  width: 1em;
  height: 1em;
  background-color: powderblue;
  text-align: center;
  border: 1px none auto;
}
td.black {
  background-color: black;
}
td.red {
  background-color: red;
}
td.green {
  background-color: green;
}
td.blue {
  background-color: blue;
}
